# Imports

In [1]:
import os
import logging
import pandas as pd

try:
    from PT3S import Rm
except:
    import Rm

In [2]:
pt3s_path = os.path.dirname(os.path.abspath(Rm.__file__))

# Logging

In [3]:
logger = logging.getLogger()  

logFileName= r"Example2.log" 

loglevel = logging.DEBUG
logging.basicConfig(filename=logFileName
                        ,filemode='w'
                        ,level=loglevel
                        ,format="%(asctime)s ; %(name)-60s ; %(levelname)-7s ; %(message)s")    

fileHandler = logging.FileHandler(logFileName)     

logger.addHandler(fileHandler)

consoleHandler = logging.StreamHandler()
consoleHandler.setFormatter(logging.Formatter("%(levelname)-7s ; %(message)s"))
consoleHandler.setLevel(logging.INFO)
logger.addHandler(consoleHandler)

# Model and Time Curves

In [4]:
dbFilename="Wärmenetz-Planungsbeispiel"

In [5]:
csvFilename="time_curves"

# Read Model and Time Curves

In [6]:
file_path=pt3s_path+'/Examples/'+csvFilename+'.csv'

In [7]:
def read_multiple_time_curves(file_path):
    with open(file_path, 'r', encoding='ISO-8859-1') as f:
        lines = f.readlines()

    dataframes = []
    current_lines = []
    curve_name = ''
    for line in lines:
        if line.strip() == ';' or line.strip() == '':
            if current_lines:
                df = pd.DataFrame([sub.split(";") for sub in current_lines[2:]])  # Skip the first two lines
                df = df.iloc[:, :2]  # Only take the first two columns
                df.columns = ['Zeitstempel', curve_name]  # Rename the columns
                dataframes.append(df)
                current_lines = []
        else:
            if 'Zeitkurven' in line:
                curve_name = line.split(' ')[1]  # Extract the curve name
            current_lines.append(line.strip())

    if current_lines:
        df = pd.DataFrame([sub.split(";") for sub in current_lines[2:]])  # Skip the first two lines
        df = df.iloc[:, :2]  # Only take the first two columns
        df.columns = ['Zeitstempel', curve_name]  # Rename the columns
        dataframes.append(df)

    return dataframes

In [8]:
time_curves_dataframes = read_multiple_time_curves(file_path)

In [9]:
time_curves_dataframes[1]

                Zeitstempel     Umwälzmenge;\n
0   2023-02-13 00:00:00,000   287,090057373047
1   2023-02-13 01:00:00,000   290,241271972656
2   2023-02-13 02:00:00,000   294,834533691406
3   2023-02-13 03:00:00,000      309,798828125
4   2023-02-13 04:00:00,000   347,568023681641
5   2023-02-13 05:00:00,000   451,154174804688
6   2023-02-13 06:00:00,000   564,955627441406
7   2023-02-13 07:00:00,000   531,596801757813
8   2023-02-13 08:00:00,000   532,365844726563
9   2023-02-13 09:00:00,000    520,33642578125
10  2023-02-13 10:00:00,000   510,222839355469
11  2023-02-13 11:00:00,000   483,421020507813
12  2023-02-13 12:00:00,000   474,486602783203
13  2023-02-13 13:00:00,000   467,309143066406
14  2023-02-13 14:00:00,000   481,614715576172
15  2023-02-13 15:00:00,000   489,022155761719
16  2023-02-13 16:00:00,000   523,484252929688
17  2023-02-13 17:00:00,000   534,832336425781
18  2023-02-13 18:00:00,000    538,20654296875
19  2023-02-13 19:00:00,000   532,766906738281
20  2023-02-13 20:00:00,000   517,863403320313
21  2023-02-13 21:00:00,000   464,067535400391
22  2023-02-13 22:00:00,000   360,230316162109
23  2023-02-13 23:00:00,000   305,787841796875
24  2023-02-14 00:00:00,000   305,787139892578