## Example:

In [1]:
try:
    from PT3S import dxAndMxHelperFcts
except:
    import dxAndMxHelperFcts

In [2]:
m=dxAndMxHelperFcts.readDxAndMx('../Examples/Wärmenetz-Planungsbeispiel.db3')

In [3]:
dfROHR=m.V3_ROHR

In [4]:
dfROHR.head()

,pk,fkDE,rk,tk,fkKI,fkKK,fkDTRO_ROWD,fkLTGR,fkSTRASSE,L,...,"('TMIN', 'KNOT~*~*~*~PH', Timestamp('2023-02-12 23:00:00'), Timestamp('2023-02-13 23:00:00'))_i","('TMAX', 'KNOT~*~*~*~PH', Timestamp('2023-02-12 23:00:00'), Timestamp('2023-02-13 23:00:00'))_i","('STAT', 'KNOT~*~*~*~PH', Timestamp('2023-02-12 23:00:00'), Timestamp('2023-02-12 23:00:00'))_k","('TIME', 'KNOT~*~*~*~PH', Timestamp('2023-02-12 23:00:00'), Timestamp('2023-02-12 23:00:00'))_k","('TMIN', 'KNOT~*~*~*~PH', Timestamp('2023-02-12 23:00:00'), Timestamp('2023-02-13 23:00:00'))_k","('TMAX', 'KNOT~*~*~*~PH', Timestamp('2023-02-12 23:00:00'), Timestamp('2023-02-13 23:00:00'))_k",QMAVAbs,VAVAbs,PHRAbs,JVAbs
0,5442010239090746007,5306805303452857793,5442010239090746007,5442010239090746007,5669301360686511351,5397948523091900401,4684070986837856878,4779752876656844188,5644881417512616095,36.429348,...,3.501101,4.030397,3.2898,3.290663,3.2898,3.791431,5.284859e+01,7.528126e-01,1.041356e-02,2.858564e-01
1,5417154223408487165,5306805303452857793,5417154223408487165,5417154223408487165,4876992779283362126,5397948523091900401,4684070986837856878,4779752876656844188,5644881417512616095,130.216858,...,3.31079,3.802972,3.2898,3.290663,3.2898,3.791431,1.539487e+01,2.192777e-01,3.643116e-03,2.797730e-02
2,5726827761099671871,5306805303452857793,5726827761099671871,5726827761099671871,5669301360686511351,5465373302536437394,5227809287145441987,4779752876656844188,4691593553739008509,52.374901,...,3.501101,4.030397,3.516661,3.517417,3.516661,4.045881,1.197174e-09,6.124849e-12,2.341257e-21,4.470189e-20
3,4811306899232458618,5306805303452857793,4811306899232458618,4811306899232458618,4837439299025862974,4875518068053211860,4684070986837856878,4779752876656844188,4691593553739008509,6.559972,...,3.179915,3.875697,3.204382,3.205366,3.204382,3.891908,6.796223e+01,9.672580e-01,3.036335e-03,4.628580e-01
4,4843836890906700052,5306805303452857793,4843836890906700052,4843836890906700052,4837439299025862974,4832729931974744286,4684070986837856878,4779752876656844188,4691593553739008509,7.759803,...,3.179915,3.875697,3.206016,3.206999,3.206016,3.910682,6.522658e+01,9.274810e-01,3.312205e-03,4.268414e-01